
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

{#    Лого сайта  #}
    <a class="navbar-brand" href="/">Booking</a>

      {#     Информация     #}
          <a class="nav-link"  href="info">О нас</a>

{#      Для мобильной версии  #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>


      {% if user.is_authenticated %}

{#      Выход   #}

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-link" type="submit">Выйти</button>
            </form>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_info' user.username %}">{{ user.username }}</a>
        </li>

      {% else %}

{#      Вход   #}

          <a class="nav-link" href="{% url 'login' %}">Войти</a>



{#      Регистрация   #}

          <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>



      {% endif %}


{#    Форма поиска (по умолчанию метод GET)   #}
      <form class="d-flex" action="{% url 'filter-flights' %}">
        <input name="search" value="{{ search_value_form }}"
               style="width: 400px" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        
    </div>
  </div>
</nav>